APP_IDENTIFIER_SUFFIX="-devnet"
ENV=dev
PRIVACY_POLICY_URL=https://github.com/clones-ai/clones-desktop/blob/main/PRIVACY.md
BASESCAN_BASE_URL=https://sepolia.basescan.org
API_WEBSITE_URL=http://localhost:5173
API_BACKEND_URL=http://localhost:8001
FFMPEG_URL_WIN=https://www.gyan.dev/ffmpeg/builds/ffmpeg-release-essentials.zip
FFMPEG_URL_LINUX=https://github.com/BtbN/FFmpeg-Builds/releases/download/latest/ffmpeg-master-latest-linux64-gpl-shared.tar.xz
FFMPEG_URL_MACOS=https://www.osxexperts.net/ffmpeg71intel.zip
FFPROBE_URL_MACOS=https://www.osxexperts.net/ffprobe71intel.zip
CQA_URL_WIN=https://github.com/clones-ai/clones-quality-agent/releases/download/v2.0.9/clones-quality-agent-win-x64.exe
CQA_URL_LINUX=https://github.com/clones-ai/clones-quality-agent/releases/download/v2.0.9/clones-quality-agent-linux-x64
CQA_URL_MACOS=https://github.com/clones-ai/clones-quality-agent/releases/download/v2.0.9/clones-quality-agent-macos-arm64
TAURI_SIGNING_PRIVATE_KEY=
TIGRIS_ACCESS_KEY_ID=
TIGRIS_SECRET_ACCESS_KEY=